* {
	font-family: Arial;
}

a, a:visited, a:hover {
	color: white;
}

li {
	color: green;
	margin: 0;
	padding 0;
	list-style-position: inside;
}

ol {
	padding: 0;
}


body {
	background-color: black;
	padding: 50px;
}

h1 {
	text-align: center;
	color: #20C20E;
}

p {
	color: #A9A9A9;
}

img {
	display: block;
	margin: auto;
}

button {
	background-color: #282828;
	color: white;

	border: 1px solid white;
	border-radius: 5px;

	height: 25px;
}

.input {
	text-align: center;
}

.top {
	text-align: center;
}

.top h4 {
	color: #a9a9a9;
}

.bottom {
	text-align: center;
}

.bottom h2 {
	color: #20C20E;
}

.more_options {
	text-align: right;
}

.more_options h2 {
	color: #20C20E;
}

#search_box {
	text-align: center;

	border: 1px solid black;
	border-radius: 7px;

	height: 25px;
}

#results_header {
	color: #20C20E;
}

#logo {
	background: gray;
	width: 75px;
	height: auto;

	border: 1px solid white;
	border-radius: 100px;
}
