* {
    font-family: Arial;
}

a, a:visited {
    color: white;
}

a:hover {
    color: white;
    font-size: 20px;
}

li {
    color: green;
    margin: 0;
    padding 0;
    list-style-position: inside;
}

ol {
    padding: 0;
}


body {
    background-color: black;
    padding: 50px;
}

h1 {
    text-align: center;
    color: #20C20E;
}

p {
    color: #A9A9A9;
}

img {
    display: block;
    margin: auto;
}

button {
    background-color: #282828;
    color: white;

    border: 1px solid white;
    border-radius: 5px;

    height: 25px;
    margin-top: 20px;
}

input {
    text-align: center;

    border: 1px solid black;
    border-radius: 7px;

    height: 25px;
}

.input {
    text-align: center;
}

.top {
    text-align: center;
}

.top h4 {
    text-align: center;
    color: #a9a9a9;
}

.bottom {
    text-align: center;
}

.bottom h2 {
    color: #20C20E;
}

.searchOptions {
    color: #A9A9A9;
    text-align: center;

    margin: 0 auto;
    margin-top: 10px;

    padding-top: 5px;
    padding-bottom: 5px;
    width: 250px;
    
    border: 1px solid white;
    border-radius: 10px;
}

.searchOptions:hover {
    color: #BABABA;
}

.searchOptions h2 {
    color: #20C20E;
}

#searchButton {
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#resultsHeader {
    color: #20C20E;
}

#logo {
    background: gray;
    width: 75px;
    height: auto;

    border: 1px solid white;
    border-radius: 100px;
}

#credits {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#credits p {
    font-size: 13px;
}

#poster {
    border: 5px solid red;
}

@media only screen and (max-device-width: 640px) {
    h1, h2, h3, h4, p {
        text-align: center;
        font-size: 300%;
    }

    button {
        font-size: 200%;
        height: 65px;
        width: 240;

        margin-top: 20px;
    }

    input[type="text"] {
        font-size: 200%;
        height: 65px;
        width: 240px;
    }

    ol {
        text-align: center;
    }

    .searchOptions {
        text-align: center;
    }
    
    #navigation {
        text-align: center;
    }

    #logo {
        width: 100px;
    }
}
